#### Importamos librerias

In [1]:
import sys
import os
import pandas as pd # type: ignore
import dotenv # type: ignore
dotenv.load_dotenv()
sys.path.append("../")
from src import call_apis_vuelos as cp
from src import call_apis_hoteles as ho

key = os.getenv("token")

#### Hacemos la llamada a la funcion que obientene datos de api de vuelos y guardamos en dataframe

In [2]:
datos = [['MAD','BCN','95565077','95565085','2024-11-01','2024-11-03'],
         ['MAD','BCN','95565077','95565085','2024-11-08','2024-11-10'],
         ['MAD','VLC','95565077','95565090','2024-11-01','2024-11-03'],
         ['MAD','VLC','95565077','95565090','2024-11-08','2024-11-10']]

df = cp.main(key,datos)

#### Comprobamos numero resultados

In [3]:
df.shape[0]

80

#### Listado dataframe resultados

In [4]:
df.head()

,id,price,origin,destination,duration_minutes,departure,arrival,carriers
0,13870-2411011455--32222-0-9772-2411011610,126.55,Madrid,Barcelona,75,2024-11-01T14:55:00,2024-11-01T16:10:00,Iberia
1,9772-2411031515--32222-0-13870-2411031640,126.55,Barcelona,Madrid,85,2024-11-03T15:15:00,2024-11-03T16:40:00,Iberia
2,13870-2411010715--32222-0-9772-2411010830,122.06,Madrid,Barcelona,75,2024-11-01T07:15:00,2024-11-01T08:30:00,Iberia
3,9772-2411031515--32222-0-13870-2411031640,122.06,Barcelona,Madrid,85,2024-11-03T15:15:00,2024-11-03T16:40:00,Iberia
4,13870-2411010730--32680-0-9772-2411010855,120.00,Madrid,Barcelona,85,2024-11-01T07:30:00,2024-11-01T08:55:00,Air Europa

#### Guardamos a CSV

In [5]:
df.to_csv(f"../data/data_sky_scrapper.csv")

#### Hacemos la llamada a la funcion que obientene datos de api de hoteles y guardamos en dataframe

In [6]:
datos_hoteles = [[2,'2024-11-03','-406131','2024-11-01','Valencia'],
                 [2,'2024-11-10','-406131','2024-11-08','Valencia'],
                 [2,'2024-11-03','-372490','2024-11-01','Barcelona'],
                 [2,'2024-11-10','-372490','2024-11-08','Barcelona']]

df_hoteles = ho.main(key,datos_hoteles)

#### Comprobamos numero resultados

In [7]:
df_hoteles.shape[0]

80

#### Listado dataframe resultados

In [8]:
df_hoteles.head()

,destination,city,checkin_date,checkout_date,address,accommodation_type_name,distance,checkin,checkout,review_score,price_total,price_night,hotel_name,class
0,Valencia,Valencia,2024-11-01,2024-11-03,168 Avinguda del Port,Apartamento,2.67,15:00,11:00,8.2,388.37,194.185,Valencia Luxury - Sea Port I,0.0
1,Valencia,Valencia,2024-11-01,2024-11-03,"Bailen 18, 1º",Hostal o pensión,0.39,14:00,11:00,5.9,168.12,84.060,NWT Central Station Valencia,0.0
2,Valencia,València,2024-11-01,2024-11-03,C/ Jose Benlliure 236,Apartamento,4.01,15:00,11:00,7.8,314.40,119.700,Best Valencia Beach Flat Historic Area next to...,0.0
3,Valencia,Valencia,2024-11-01,2024-11-03,"Escritor Rafael Ferreres, 22",Hotel,2.60,16:00,12:00,8.1,400.00,200.000,"Holiday Inn Express Ciudad de las Ciencias, an...",3.0
4,Valencia,Valencia,2024-11-01,2024-11-03,"Escultor Vicente Beltrán Grimal, 2",Hotel,2.56,15:00,12:00,8.4,367.00,183.500,Eurostars Acteón,4.0

#### Guardamos a CSV

In [9]:
df_hoteles.to_csv(f"../data/data_hoteles.csv")