In [1]:
import sys
import os
import pandas as pd # type: ignore
import dotenv # type: ignore
dotenv.load_dotenv()
sys.path.append("../")
from src import call_apis_vuelos as cp

In [2]:
key = os.getenv("token-sky-scrapper")

datos = [['MAD','BCN','95565077','95565085','2024-11-01','2024-11-03'],
         ['MAD','BCN','95565077','95565085','2024-11-08','2024-11-10'],
         ['MAD','VLC','95565077','95565090','2024-11-01','2024-11-03'],
         ['MAD','VLC','95565077','95565090','2024-11-08','2024-11-10']]

df = cp.main(key,datos)

In [3]:
df = df.reset_index(drop=True)

In [4]:
df.head()

,id,price,origin,destination,duration_minutes,departure,arrival,carriers
0,13870-2411011455--32222-0-9772-2411011610,126.55,Madrid,Barcelona,75,2024-11-01T14:55:00,2024-11-01T16:10:00,Iberia
1,9772-2411031515--32222-0-13870-2411031640,126.55,Barcelona,Madrid,85,2024-11-03T15:15:00,2024-11-03T16:40:00,Iberia
2,13870-2411010715--32222-0-9772-2411010830,122.06,Madrid,Barcelona,75,2024-11-01T07:15:00,2024-11-01T08:30:00,Iberia
3,9772-2411031515--32222-0-13870-2411031640,122.06,Barcelona,Madrid,85,2024-11-03T15:15:00,2024-11-03T16:40:00,Iberia
4,13870-2411011600--32222-0-9772-2411011715,128.91,Madrid,Barcelona,75,2024-11-01T16:00:00,2024-11-01T17:15:00,Iberia

In [5]:
df.shape[0]

80

In [6]:
df.to_csv(f"../data/data_sky_scrapper.csv")