#### Importamos librerias

In [1]:
import pandas as pd # type: ignore

#### Cargamos en dataframe los datos obtenidos

In [2]:
df_actividades = pd.read_csv("../data/data_actividades.csv", index_col = 0)
df_hoteles= pd.read_csv("../data/data_hoteles.csv", index_col = 0)
df_vuelos = pd.read_csv("../data/data_sky_scrapper.csv", index_col = 0)

#### Actividades

In [3]:
display(df_actividades.shape[0])
display(df_actividades.head())

160

,titulo,descripcion,precio,ciudad,fecha_ini,fecha_fin
0,Free tour por Valencia,En este free tour por Valencia descubriremos e...,0.0,valencia,2024-11-01,2024-11-03
1,Entrada al Oceanogràfic,Preparaos para adentraros en el increíble mund...,37.0,valencia,2024-11-01,2024-11-03
2,Tour de Valencia al completo con entradas,¿Queréis conocer los lugares más famosos de Va...,39.0,valencia,2024-11-01,2024-11-03
3,Entrada a la Ciudad de las Artes y las Ciencias,Comprad ya la entrada a la Ciudad de las Artes...,45.2,valencia,2024-11-01,2024-11-03
4,Traslados en Valencia,"Servicio privado, puerta a puerta y al mejor p...",35.0,valencia,2024-11-01,2024-11-03

#### Nos quedamos con las columnas titulo, precio, ciudad, fecha_ini de Actividades y eliminamos duplicados

In [4]:
df_actividades_clean = df_actividades[["titulo","precio","ciudad","fecha_ini"]]
df_actividades_clean = df_actividades_clean.drop_duplicates()
display(df_actividades_clean.shape[0])
display(df_actividades_clean.head())

160

,titulo,precio,ciudad,fecha_ini
0,Free tour por Valencia,0.0,valencia,2024-11-01
1,Entrada al Oceanogràfic,37.0,valencia,2024-11-01
2,Tour de Valencia al completo con entradas,39.0,valencia,2024-11-01
3,Entrada a la Ciudad de las Artes y las Ciencias,45.2,valencia,2024-11-01
4,Traslados en Valencia,35.0,valencia,2024-11-01

#### Guardamos a csv las Actividades, para posterior tratamiento.

In [5]:
df_actividades_clean.to_csv(f"../data/data_actividades_eda.csv")

#### Hoteles

In [6]:
display(df_hoteles.shape[0])
display(df_hoteles.head())

80

,destination,city,checkin_date,checkout_date,address,accommodation_type_name,distance,checkin,checkout,review_score,price_total,price_night,hotel_name,class
0,Valencia,Valencia,2024-11-01,2024-11-03,168 Avinguda del Port,Apartamento,2.67,15:00,11:00,8.2,388.37,194.185,Valencia Luxury - Sea Port I,0.0
1,Valencia,Valencia,2024-11-01,2024-11-03,"Bailen 18, 1º",Hostal o pensión,0.39,14:00,11:00,5.9,168.12,84.060,NWT Central Station Valencia,0.0
2,Valencia,València,2024-11-01,2024-11-03,C/ Jose Benlliure 236,Apartamento,4.01,15:00,11:00,7.8,314.40,119.700,Best Valencia Beach Flat Historic Area next to...,0.0
3,Valencia,Valencia,2024-11-01,2024-11-03,"Escritor Rafael Ferreres, 22",Hotel,2.60,16:00,12:00,8.1,400.00,200.000,"Holiday Inn Express Ciudad de las Ciencias, an...",3.0
4,Valencia,Valencia,2024-11-01,2024-11-03,"Escultor Vicente Beltrán Grimal, 2",Hotel,2.56,15:00,12:00,8.4,367.00,183.500,Eurostars Acteón,4.0

#### Nos quedamos con las columnas destination, city, checkin_date, accommodation_type_name, distance, review_score, price_total, hotel_name, class de hoteles y elminamos duplicados.

In [7]:
df_hoteles_clean = df_hoteles[["destination","city","checkin_date","accommodation_type_name","distance","review_score","price_total","hotel_name","class"]]
df_hoteles_clean = df_hoteles_clean.drop_duplicates()
display(df_hoteles_clean.shape[0])
display(df_hoteles_clean.head())

80

,destination,city,checkin_date,accommodation_type_name,distance,review_score,price_total,hotel_name,class
0,Valencia,Valencia,2024-11-01,Apartamento,2.67,8.2,388.37,Valencia Luxury - Sea Port I,0.0
1,Valencia,Valencia,2024-11-01,Hostal o pensión,0.39,5.9,168.12,NWT Central Station Valencia,0.0
2,Valencia,València,2024-11-01,Apartamento,4.01,7.8,314.40,Best Valencia Beach Flat Historic Area next to...,0.0
3,Valencia,Valencia,2024-11-01,Hotel,2.60,8.1,400.00,"Holiday Inn Express Ciudad de las Ciencias, an...",3.0
4,Valencia,Valencia,2024-11-01,Hotel,2.56,8.4,367.00,Eurostars Acteón,4.0

#### Guardamos a csv los hoteles, para posterior tratamiento.

In [8]:
df_hoteles_clean.to_csv(f"../data/data_hoteles_eda.csv")

#### Vuelos

In [9]:
display(df_vuelos.shape[0])
display(df_vuelos.head())

80

,id,price,origin,destination,duration_minutes,departure,arrival,carriers
0,13870-2411011455--32222-0-9772-2411011610,126.55,Madrid,Barcelona,75,2024-11-01T14:55:00,2024-11-01T16:10:00,Iberia
1,9772-2411031515--32222-0-13870-2411031640,126.55,Barcelona,Madrid,85,2024-11-03T15:15:00,2024-11-03T16:40:00,Iberia
2,13870-2411010715--32222-0-9772-2411010830,122.06,Madrid,Barcelona,75,2024-11-01T07:15:00,2024-11-01T08:30:00,Iberia
3,9772-2411031515--32222-0-13870-2411031640,122.06,Barcelona,Madrid,85,2024-11-03T15:15:00,2024-11-03T16:40:00,Iberia
4,13870-2411010730--32680-0-9772-2411010855,120.00,Madrid,Barcelona,85,2024-11-01T07:30:00,2024-11-01T08:55:00,Air Europa

#### Nos quedamos con las columnas price, origin, origin, departure, carriers de Vuelos y eliminamos duplicados.

In [10]:
df_vuelos_clean = df_vuelos[["price","origin","destination","departure","carriers"]]
df_vuelos_clean = df_vuelos_clean.drop_duplicates()
display(df_vuelos_clean.shape[0])
display(df_vuelos_clean.head())

77

    price     origin destination            departure    carriers
0  126.55     Madrid   Barcelona  2024-11-01T14:55:00      Iberia
1  126.55  Barcelona      Madrid  2024-11-03T15:15:00      Iberia
2  122.06     Madrid   Barcelona  2024-11-01T07:15:00      Iberia
3  122.06  Barcelona      Madrid  2024-11-03T15:15:00      Iberia
4  120.00     Madrid   Barcelona  2024-11-01T07:30:00  Air Europa

#### Guardamos a csv los vuelos, para posterior tratamiento.

In [11]:
df_vuelos_clean.to_csv(f"../data/data_sky_scrapper_eda.csv")