#### Importamos librerias

In [1]:
import pandas as pd # type: ignore

#### Cargamos en dataframe los datos obtenidos, con las columnas selecionadas

In [2]:
df_actividades = pd.read_csv("../data/data_actividades_eda.csv", index_col = 0)
df_hoteles= pd.read_csv("../data/data_hoteles_eda.csv", index_col = 0)
df_vuelos = pd.read_csv("../data/data_sky_scrapper_eda.csv", index_col = 0)

#### Analizamos Actividades

Nulos

In [3]:
display(df_actividades.isnull().sum())

titulo       0
precio       0
ciudad       0
fecha_ini    0
dtype: int64

Comprobamos tipos de datos

In [4]:
display(df_actividades.info())

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, 0 to 159
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   titulo     160 non-null    object
 1   precio     160 non-null    float64
 2   ciudad     160 non-null    object
 3   fecha_ini  160 non-null    object
dtypes: float64(1), object(3)
memory usage: 6.2+ KB

None

limpiamos las columnas

In [5]:
df_actividades.loc[:, 'titulo'] = df_actividades['titulo'].str.capitalize().str.replace('"','')
df_actividades.loc[:, 'ciudad'] = df_actividades['ciudad'].str.capitalize()
df_actividades['fecha_ini'] = pd.to_datetime(df_actividades['fecha_ini'])

Comprobamos que se han reliazado los cambios

In [6]:
display(df_actividades.info())

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, 0 to 159
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   titulo     160 non-null    object
 1   precio     160 non-null    float64
 2   ciudad     160 non-null    object
 3   fecha_ini  160 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 6.2+ KB

None

#### Guardamos a csv, para la fase de visualizacion

In [7]:
df_actividades.to_csv(f"../data/data_actividades_clean.csv")

#### Analizamos Hoteles

Nulos

In [8]:
display(df_hoteles.isnull().sum())

destination                0
city                       0
checkin_date               0
accommodation_type_name    0
distance                   0
review_score               0
price_total                0
hotel_name                 0
class                      0
dtype: int64

Comprobamos tipos de datos

In [9]:
display(df_hoteles.info())

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 0 to 79
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   destination              80 non-null     object
 1   city                     80 non-null     object
 2   checkin_date             80 non-null     object
 3   accommodation_type_name  80 non-null     object
 4   distance                 80 non-null     float64
 5   review_score             80 non-null     float64
 6   price_total              80 non-null     float64
 7   hotel_name               80 non-null     object
 8   class                    80 non-null     float64
dtypes: float64(4), object(5)
memory usage: 6.2+ KB

None

limpiamos las columnas

In [10]:
df_hoteles.loc[:, 'destination'] = df_hoteles['destination'].str.capitalize()
df_hoteles.loc[:, 'city'] = df_hoteles['city'].str.capitalize()
df_hoteles.loc[:, 'accommodation_type_name'] = df_hoteles['accommodation_type_name'].str.capitalize()
df_hoteles.loc[:, 'hotel_name'] = df_hoteles['hotel_name'].str.capitalize().str.replace('"','')
df_hoteles['checkin_date'] = pd.to_datetime(df_hoteles['checkin_date'])
df_hoteles['class'] = df_hoteles['class'].astype(int)

Comprobamos que se han reliazado los cambios

In [11]:
display(df_hoteles.info())

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 0 to 79
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   destination              80 non-null     object
 1   city                     80 non-null     object
 2   checkin_date             80 non-null     datetime64[ns]
 3   accommodation_type_name  80 non-null     object
 4   distance                 80 non-null     float64
 5   review_score             80 non-null     float64
 6   price_total              80 non-null     float64
 7   hotel_name               80 non-null     object
 8   class                    80 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 6.2+ KB

None

#### Guardamos a csv, para la fase de visulizacion.

In [12]:
df_hoteles.to_csv(f"../data/data_hoteles_clean.csv")

#### Analizamos Vuelos

nulos

In [13]:
display(df_vuelos.isnull().sum())

price          0
origin         0
destination    0
departure      0
carriers       0
dtype: int64

Comprobamos tipos de datos

In [14]:
display(df_vuelos.info())

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 0 to 79
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        77 non-null     float64
 1   origin       77 non-null     object
 2   destination  77 non-null     object
 3   departure    77 non-null     object
 4   carriers     77 non-null     object
dtypes: float64(1), object(4)
memory usage: 3.6+ KB

None

limpiamos las columnas

In [15]:
df_vuelos.loc[:, 'origin'] = df_vuelos['origin'].str.capitalize()
df_vuelos.loc[:, 'destination'] = df_vuelos['destination'].str.capitalize()
df_vuelos.loc[:, 'carriers'] = df_vuelos['carriers'].str.capitalize()
df_vuelos['departure_date'] = pd.to_datetime(df_vuelos['departure']).dt.date
df_vuelos['departure'] = pd.to_datetime(df_vuelos['departure']).dt.time

Comprobamos que se han reliazado los cambios

In [16]:
display(df_vuelos.info())

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 0 to 79
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           77 non-null     float64
 1   origin          77 non-null     object
 2   destination     77 non-null     object
 3   departure       77 non-null     object
 4   carriers        77 non-null     object
 5   departure_date  77 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.2+ KB

None

#### Guardamos a csv, para la fase de visulizacion.

In [17]:
df_vuelos.to_csv(f"../data/data_sky_scrapper_clean.csv")